doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='width=device-width , initial-scale=1')
		meta(name='description' , content='')
		meta(name='keywords' , content='')
		title LiguidLabs
		link(rel='stylesheet' , href='css/bootstrap-grid.css')
		link(rel='stylesheet' , href='css/style.css')
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		section.intro
			.container
				header
					a(href="index.html").logo
						img(src="images/logo.png", alt="Logo")
				h1 The State of Lead Generation <br> Benchmark Report 2017
				.row
					.col-md-6
						ul.intro__list
							li
								span 87%
								| of consumers said they will go to Google to search for a service
							li
								span 87%
								| of consumers said they will go to Google to search for a service
							li
								span 87%
								| of consumers said they will go to Google to search for a service
					.col-md-6
						form.intro__form(action="")
							p.not__margin
								label First Name*
								label Last Name*
							p
								input(type="text").small__input
								input(type="text").small__input
							p
								label Email *
								input(type="text")
							p
								label Company Name *
								input(type="text")
							p
								label Role/Department*
								input(type="text")
							p
								input(type="submit" , value="Download now")

		section.testimonial
			.container
				.testimonial__text
					p This is an example testimonial, this is just filler text to show what it would look like once the it is filled with actual text. This is an example testimonial, this is just filler text to show what it would look like once the it is filled with actual text. This is an example testimonial, this is just filler text to show what it would look like once the it is filled with actual text.
				.testimonial__img
					img(src="images/testimonial.jpg", alt="testimonial image")
				h3 Christin Gericke
				p.position Product Manager
				p.position Director

		section.about
			.container
				.row
					.col-md-6
						img(src="images/about.jpg", alt="about")
					.col-md-6
						p This is an example blurb to describe the content of the report, this will be used to build curiousity and intrigue and tell people more about the contents of the report. This is an example blurb to describe the content of the report, this will be used to build curiousity and intrigue and tell people more about the contents of the report. This is an example blurb to describe the content of the report, this will be used to build curiousity and intrigue and tell people more about the contents of the report.

		section.team
			.container
				h2 See what Lead Generation experts have to say about the report
				.row
					.col-md-4
						.team__item
							p “This is an example testimonial, this will be filled with actual reviews of the free report from experts. This is an example testimonial, this will be filled with actual reviews of the free report from experts. This is an example testimonial, this will be filled with actual reviews of the free report.”
							.team__profile
								.profile__img
									img(src="images/team-1.jpg", alt="team-1")
								p.profile__name Nick Grinberg
								p Digital Marketing Agency Director and Co-Founder at <a href="#">GMG</a>

					.col-md-4
						.team__item
							p “This is an example testimonial, this will be filled with actual reviews of the free report from experts. This is an example testimonial, this will be filled with actual reviews of the free report from experts. This is an example testimonial, this will be filled with actual reviews of the free report.”
							.team__profile
								.profile__img
									img(src="images/team-2.jpg", alt="team-2")
								p.profile__name Nick Grinberg
								p Digital Marketing Agency Director and Co-Founder at <a href="#">GMG</a>

					.col-md-4
						.team__item
							p “This is an example testimonial, this will be filled with actual reviews of the free report from experts. This is an example testimonial, this will be filled with actual reviews of the free report from experts. This is an example testimonial, this will be filled with actual reviews of the free report.”
							.team__profile
								.profile__img
									img(src="images/team-3.jpg", alt="team-3")
								p.profile__name Nick Grinberg
								p Digital Marketing Agency Director and Co-Founder at <a href="#">GMG</a>

		footer
			.container
				p Copyright <a href="index.html">LiquidLabs</a>. All Rights Reserved.